.active {
  color: #ff69b4;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
}

.on {
  background: green;
}

.off {
  background: black;
}

body {
  background-color: #eee;
}

.todo {
  color: #ccc;
  text-shadow: 1px 1px 0px #bbb;
  border-radius: 5px;
  padding: 10px;
  font-family: courier;
  font-size: 28px;
  margin-bottom: 15px;
}

.done {
  box-shadow: 0px 0px 3px #bbb;
}

.party {
  background: url('https://s-media-cache-ak0.pinimg.com/564x/b6/85/e0/b685e062795eeded4b6c324b27abc544.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}